body {
    background-color: #00aaff;
    font-family: "Calibri";
    margin-left: 20px;
}

#column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
#row:after {
    content: "";
    display: table;
    clear: both;
}

input {
    width: 300px;
    text-align: center;
    margin-right: 25px;
    border-radius: 8px;
    border: none;
}

ul {
    margin-top: 100px;
    text-align: center;
    list-style-type: none;
}


li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    color: #000000;
    background-color: transparent;
}

button {
    -webkit-transition-duration: 0.4s;
    border-color: transparent;
    border-radius: 12px;
    background-color: #00ff55;
}

button:hover {
    transform: translateY(-3px);
    border: 2px solid #000000;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

button:active {
    transform: translateY(-1px);
}

#del {
    transform: none;
    margin-right: 800px;
    margin-top: 5px;
    margin-bottom: 2px;
    -webkit-transition-duration: 0.2s;
    color: #5500FF;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid #5500FF;
    border-radius: 100%;
    animation-name: moveInRight;
    animation-duration: 1s;
}

#del:hover {
    transform: none;
    color: black;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid black;
}

#bread {
    background-color: #b08568;
}

#lettuce {
    background-color: #90EE90;
}

#ketchup {
    background-color: #E31100;
}

#mustard {
    background-color: #ffd500;
}

#mayo {
    background-color: whitesmoke;
}

.ingList {
    text-transform: uppercase;
    background-color: #00aaff;
    border: 2px solid transparent;
    border-radius: 100px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    box-shadow: 0 30px 10px rgba(0,0,0,.2);
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(800px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

h1 {
    color: #5500ff;
}