body {
    background-color: #00aaff;
    font-family: "Calibri";
    margin-left: 20px;
}

#column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
#row:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    text-align: center;
    list-style-type: none;
}


li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    color: #000000;
}

button {
    -webkit-transition-duration: 0.4s;
    border-color: transparent;
    border-radius: 12px;
    background-color: #00ff55;
}

button:hover {
    transform: translateY(-3px);
    border: 2px solid #000000;
}

button:active {
    transform: translateY(-1px);
}

#del {
    /*float: left;*/
    transform: none;
    -webkit-transition-duration: 0.2s;
    color: #5500FF;
    font-weight: bold;
    /*font-size: xx-small;*/
    background-color: transparent;
    border: 1px solid #5500FF;
    border-radius: 100%;
}

#del:hover {
    transform: none;
    color: whitesmoke;
    font-weight: bold;
    /*font-size: x-small;*/
    background-color: transparent;
    border: 1px solid whitesmoke;
}

#mustard {
    background-color: #ffd500;
}

#mayo {
    background-color: whitesmoke;
}

#ketchup {
    background-color: #E31100;
}

#lettuce {
    background-color: lightgreen;
}

#bread {
    background-color: #C9AE99;
}

#ing {
    background-color: #00aaff;
    border: 2px solid transparent;
    border-radius: 100px;
    animation-name: moveInLeft;
    animation-duration: 1s;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

h1 {
    color: #5500ff;
}